:root{
  --clr-accent-500:hsl(348, 98%, 52%);
  --clr-primary-200: hsl(33, 7%, 6%);
  --clr-primary-400: hsl(33, 67%, 40%);
  --clr-primary-600: hsl(33, 47%, 60%);
  --clr-primary-800: hsl(33, 77%, 88%);
  

  
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-800) 
}
h1{
  font-family: 'Seagram';
}