.admin-nav-container{
    position:fixed;
    top:0;
    margin-top:10vh;
    display: flex;
    flex-direction: column;
    width:50px;
    height:90vh;
    background: var(--clr-primary-600);
}

/* This is so the navbar stays full height
There were issues with z-index messing with link functionality */
.navbar-padding{
    position: fixed;
    top:0;
    height:10vh;
    width:50px;
    background: var(--clr-primary-600);
    border-bottom: 14px solid var(--clr-primary-200);
    z-index:-2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-padding > *{
    width:30px;
}







.admin-icon{
    margin-top:10px;
    padding:0;
    border:none;
    background: none;
}

.content-section{
    margin-left:50px;
    
}

.active{
    box-shadow:0 0 6px 6px var(--clr-primary-800);
}

