.admin-container{
    width:calc(100vw - 70px - 1rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
p{
    text-decoration: none;
}
.admin-delivery{
    margin: 1rem 1rem;
    background: var(--clr-primary-800);
}

.admin-delivery-list{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 1fr;
    grid-auto-rows: 1fr;
    text-decoration: none;
    text-align: right;
    color: var(--clr-primary-200);
}


.admin-delivery-item{
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid black;
}
.admin-delivery-item:hover{
    box-shadow: inset 0 0 1px 3px var(--clr-primary-400);
}
.admin-delivery-list:nth-child(odd){
    background: var(--clr-darkerhue);
}
.admin-delivery-item:nth-child(odd){
    background: var(--clr-darkhue);
}
#admin-delivery-input{
    width:100%;
}

#productname{
    text-align: left;
}
#productdelete{
    text-align: center;
    box-shadow: inset 0 0  1px 2px black;
}
#productdelete:hover {
    background:hsl(0, 100%, 50%);
    box-shadow: inset 0 0 1px 3px black;
}


#add-product-to-order{
    height:100%;
    width:100%;
    box-shadow: inset 0 0  1px 2px black;
}
#add-product-to-order:checked{
    border:5px solid black;
    opacity: 0.3;
}
#add-product-to-order:hover {
    background:var(--clr-darkesthue);
    box-shadow: inset 0 0 1px 3px black;
}
#add-product-to-order:focus{
    background: green;
    /* background: var(--clr-darkesthue); */
}
.admin-delivery-item-label{
    text-align: center;
    border-bottom: 1px solid black;
}
.admin-delivery-item-label:first-child{
    text-align: left;
}
.create-order{
    border-bottom: 14px solid var(--clr-primary-200);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:50px;
    margin:0;
}
.create-order button{
    position: relative;
    right:2rem;
    background: var(--clr-primary-600);
    color:var(--clr-primary-200);
    width:50%;
    margin-right:100px;
    font-size: 1em;
    padding:0.35rem;
}
