.admin-nav-container{
    z-index: -1;
    position:fixed;
    top:0;
    padding-top:10vh;
    display: flex;
    flex-direction: column;
    width:50px;
    height:100vh;
    background: var(--clr-primary-600);
}

.admin-icon{
    margin-top:10px;
    padding:0;
    border:none;
    background: none;
}

.content-section{
    margin-left:50px;
    z-index: -2;
}

.active{
    box-shadow:0 0 6px 6px var(--clr-primary-800);
}