.product-container{
    margin:2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5rem;
    
}
.product{
    height:500px;
    position: relative;
    border: 10px solid var(--clr-primary-600);
    background: var(--clr-primary-800);
    text-decoration: none;
}

.product img{
    position: absolute;
    top:1rem;
    left:0;
    right:0;
    margin:0 auto;
    width:300px;
    height:300px;
}
.details{
    border: none;
    color:var(--clr-primary-200);
    position: absolute;
    bottom:0;
    left:0;
    height:8rem;
    width:100%;
    background: var(--clr-primary-600);
}
.product-name{
    padding:1rem;
    font-size: 1.2em;
}
.price{
    position: absolute;
    bottom:1.5rem;
    right:1rem;
    font-size: 1em;
}
.add-to-cart-btn{
    position: absolute;
    bottom:0.2rem;
    right:3rem;
    font-size:0.8em;
    width:80px;
}