.footer{
    position: fixed;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.footer > *{
    padding:0.5rem;
    color: var(--clr-primary-600);
    text-decoration: none;
}

