.login-form-container{
    position: relative;
    right:0;
    left:0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width:50vw;
}
.login-form-title{
    margin:2rem;
    font-size: 5em;
    text-align: center;
}
.login-form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap:2rem;
}
.login{
    grid-column: span 1;
}
.login > * {
    margin:1rem;
    width:100%;
    padding:1rem 1.5rem;
    font-size: 1.75em;
}
button{
    font-size: 2em;
    width:50%;
    transform: translateX(50%);
}