.navbar-container{
    height:10vh;
    width:100vw;
    background-color: var(--clr-primary-600);
    color: var(--clr-primary-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 14px solid var(--clr-primary-200);
}
.logo-title{
    display: flex;
    /* flex-direction: row-reverse; */
    letter-spacing: 0.3em;
    text-decoration: none;
    color: var(--clr-primary-200);
}
.logo-title >*{
    padding-left: 2rem;
}

h1{
    font-size: clamp(2vw, 0.8em, 2.5em)
}
ul{
    display: flex;
}
li{
    margin-right:2vw;
    padding:0 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li > *{
    font-size: clamp(2vw, 0.8em,1.2em);
    text-decoration: none;
    color:var(--clr-primary-500)
}


@media screen and (max-width:1800px) {
    .logo-title >*{
        padding-left: 2rem;
    }
}
@media screen and (max-width:1200px) {
    .logo-title >*{
        height:30px;
        padding-left: 1rem;
    }
}
@media screen and (max-width:800px) {
    .logo-title >*{
        height:20px;
        padding-left: 0.5rem;
    }

}