.single-product{
    margin:5vh 5vw;
    height:80vh;
    border:10px solid var(--clr-primary-200);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image{
    margin: 2rem;
    background: var(--clr-primary-800);
    width:50vw;
    height:50vh;
}